body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  overflow-wrap: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.top {
  width: 100vw;
  min-height: 100vh;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
}
.blue {
  width: 30vw;
  height: auto;
  background-color: inherit;
  overflow: hidden;
}
.blue > img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.hello {
  width: 40vw;
  height: auto;
  background-color: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.psecond {
  font-size: 3rem;
}
.pfirst {
  width: 100%;
  font-size: 3.5rem;
  font-weight: bolder;
  color: black;
  overflow-wrap: break-word;
}
.scroll {
  transform: rotate(180deg);
  font-size: 2.5rem;
  font-weight: bolder;
  position: absolute;
  bottom: 10px;
  right: 50vw;
}


.second {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: chartreuse;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.second > p {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.second > div {
  display: flex;
  justify-content: space-around;
}
.skillimg {
  width: 8vw;

  height: 8vw;
}
.skillexplaniation {
  width: 40%;
  height: 100%;
  overflow-wrap: break-word;
  font-size: 1.7rem;
  text-align: left;
}
.skilllogo {
  display: flex;
  width: 40%;
  flex-wrap: wrap;
  gap: 2rem;
}


.project {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: black;
}

.sleft {
  width: 70%;
  height: 100vh;
  background-color: magenta;
}

.sright {
  width: 30%;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}
.proimg {
  width: 100%;
  height: 100%;
}
.ap {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  background-color: whitesmoke;
  padding: 0.7rem;
  border-radius: 4px;
  transition: all 0.5s linear;
}
.sright > p {
  color: black;
  background-color: inherit;
  padding: 0.8rem;
  border-radius: 4px;
  height: auto;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}

.ap:hover {
  transform: scale(1.2);
  border-radius: 50%;
  background-color: black;
  color: white;
}

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  

  height: auto;
}
.contact > div {
  height: auto;
  background-color: cornsilk;
  color: black;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.getintouch {
  font-size: 4rem;
  font-weight: 600;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.acontact {
  display: flex;
  align-items: center;
  height: auto;
  gap: 2vw;
  width:100%;
  margin-left: 1rem;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 500;
 
}

.acontact > p {
width: 60%;
display: inline-block;
word-break: break-word;
text-align: left;
}
.contacticons {
  width: 2rem;
  height: 2rem;
}

.tempoimg {
  width: 100%;
  height: auto;
}


@media all and (max-width: 500px) {
  
  .getintouch {
    font-size: 2rem;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
  }
  .acontact {
   
    font-weight: 400;
    margin-left: 1rem;
  }
  .contacticons {
    width: 1.4rem;
    height: 1.4rem;
  }
  .acontact>{
    font-size: 1.4rem;
  }

  
  .project {
    display: flex;
    flex-direction: column;
    height: auto;

  }
  .sleft {
    width: 100%;
    height: 70vh;
  }
  
  .sright {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap:0px;
    width: 100%;
    height:30vh;
   
  }
  .sright>p{
    margin:0px 0px;
    font-size: 1rem;
  }
  

  
  .second{
    padding-top: 1rem;
   
  }
  .second>div{
    display: flex;
    flex-direction: column;
   
  }
  .skillexplaniation{
    padding-left: 2rem;
    width: 80%;
    height: auto;
    font-size: 1.2rem;
  }
  .skilllogo{
    padding-left: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    margin-top: 10vh;
    
  }
  .skillimg{
    width: 4rem;
    height: 4rem;

  }
  
  .top{
    display: flex;
    flex-direction: column;

  }
  .blue{
    width: 100%;
  }
  .hello{
    width: 100%;
  }
  .scroll{
    display: none;
  }
  }

